<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ej.mapper.FoodMapper">
	<resultMap type="food" id="foodResult">
		<result column="f_key" property="f_key"/>
		<result column="f_name" property="f_name"/>
		<result column="f_price" property="f_price"/>
		<result column="f_img" property="f_img"/>
		<result column="st_key" property="st_key"/>
	</resultMap>
	
	<select id="select" parameterType="Double" resultMap="foodResult">
		SELECT * FROM FOOD WHERE F_KEY=#{obj}
	</select>
	<select id="selectall" resultType="food">
		SELECT * FROM FOOD
	</select>
	<insert id="insert" parameterType="food">
		INSERT INTO FOOD VALUES (#{f_key},#{f_name},#{f_price},#{f_img},#{st_key})
	</insert>
	<update id="update" parameterType="food">
		UPDATE FOOD SET F_NAME=#{f_name},F_PRICE=#{f_price}, F_IMG=#{f_img}, 
							ST_KEY=#{st_key} WHERE F_KEY=#{f_key}
	</update>
	<delete id="delete" parameterType="Double">
		DELETE FROM FOOD WHERE F_KEY=#{obj}
	</delete>
	
	<!-- 20171219_JS store_menu Add -->
	<select id="select_stMenu" resultType="food">
		SELECT TMP1.F_NAME=#{f_name},TMP2.ST_NM=#{st_nm} FROM FOOD TMP1, STORE TMP2 WHERE TMP1.ST_KEY=#{st_key} = TMP2.ST_KEY=#{st_key} ORDER BY 2	
	</select>
	
</mapper>






