<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.ej.vo.Coupon" alias="coupon"/>
 		<typeAlias type="com.ej.vo.Cu" alias="cu"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/config/couponmapper.xml"/>
 		<mapper resource="com/config/cumapper.xml"/>
	</mappers>
</configuration>






