<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ej.mapper.OfdMapper">
	<resultMap type="ofd" id="ofdResult">
		<result column="of_key" property="of_key"/>
		<result column="o_key" property="o_key"/>
		<result column="f_key" property="f_key"/>
		<result column="f_name" property="f_name"/>
		<result column="f_price" property="f_price"/>
		<result column="f_img" property="f_img"/>
		<result column="st_key" property="st_key"/>
	</resultMap>
	
	<select id="select" parameterType="Double" resultMap="ofdResult">
		SELECT * FROM OFD WHERE OF_KEY=#{obj}
	</select>
	<select id="selectall" resultType="ofd">
		SELECT * FROM OFD
	</select>
	<insert id="insert" parameterType="ofd">
		INSERT INTO OFD VALUES (OF_KEY.nextval, #{o_key}, #{f_key}, #{f_name},
			#{f_price},#{f_img},#{st_key}, #{st_nm}, #{o_date}, #{o_total}, 
			#{st_addr}, #{o_way}, #{o_addr}, #{of_cnt})
		</insert>
	<update id="update" parameterType="ofd">
		UPDATE OFD SET O_KEY=#{o_key},F_KEY=#{f_key}, F_NAME=#{f_name}, 
							F_PRICE=#{f_price}, F_IMG=#{f_img}, ST_KEY=#{st_key} WHERE OF_KEY=#{of_key}
	</update>
	<delete id="delete" parameterType="Double">
		DELETE FROM OFD WHERE ST_KEY=#{obj}
	</delete>
	
</mapper>






