<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ej.mapper.UsersMapper">	<!-- Spring과 Mybatis를 연결하기 위해 필요(mapper) -->

	<resultMap type="users" id="usersResult">
		<result column="u_id" property="u_id"/>
		<result column="u_pwd" property="u_pwd"/>
		<result column="u_nm" property="u_nm"/>
		<result column="u_tel" property="u_tel"/>
		<result column="u_gen" property="u_gen"/>
		<result column="u_addr" property="u_addr"/>
		<result column="u_age" property="u_age"/>
		<result column="u_flag" property="u_flag"/>
	</resultMap>
	
	<select id="select" parameterType="String" resultMap="usersResult">
		SELECT * FROM USERS WHERE U_ID=#{obj}
	</select>
	<select id="selectall" resultType="users">
		SELECT * FROM USERS
	</select>
	<insert id="insert" parameterType="users">
		INSERT INTO USERS VALUES (#{u_id},#{u_pwd},#{u_nm},#{u_tel},#{u_gen},#{u_addr},#{u_age},#{u_flag})
	</insert>
	<update id="update" parameterType="users">
		UPDATE USERS SET U_PWD=#{u_pwd},U_TEL=#{u_tel},U_ADDR=#{u_addr} WHERE U_ID=#{u_id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM USERS WHERE U_ID=#{obj}
	</delete>
	
</mapper>
